/************** Color Themes ***************/
.btn-primary,
.login-form button,
.candy .slide-button, .campaign-cards .panel-heading, .jgive-filter button, .loadMore {
/*    background-color: #E41306 !important;*/
    color: #fff !important;
    background: url(../images/menu_back.png) repeat-x 0 0 !important;
    background-size: 100% 100% !important;
}

.campaigndetails .btn-group > .btn-default.active {
    color: #fff !important;
    background-color: #E41306 !important;
    border-bottom: 3px solid #fff !important;
}

.jgive-filter select,
.campaign-cards select,
.listdetailtag pre,
.setting-card,
tags-input .tags .tag-item,
.candy {
    border: 1px solid #E41306 !important;
}
.slide-button {
    border: 1px solid #18690B !important;
}

.btn-group > .btn-default.active, .btn-group > .btn-default.active:focus, .btn-default:hover, .login-form button:hover, {
    color: #ffffff !important;
    background-color: #E41306 !important;
}

.progress-bar, legend {
    color: #fff!important;
    background-color: #881204 !important;
    background: url(../images/red-stripe.jpg) no-repeat left top !important;
    background-size: 100% 100% !important;
}

.navbar-absolute-top, .navbar-app {
    background-color: #196B0C !important;
    background: url(../images/menu_back.png) repeat-x 0 0 !important;
    background-size: 100% 100% !important;
}

tags-input .tags .tag-item {
    background: -webkit-linear-gradient(top, #FACAC3  0, #FACAC3  47%, #FACAC3 100%);
    background: linear-gradient(to bottom, rgba(239, 78, 58, 0.32) 0, rgba(239, 78, 58, 0.29) 47%, rgba(239, 78, 58, 0.24) 100%) !important;
}

.login-form .form-group.row,
legend {
    border-bottom: 1px solid #E41306;
}

.promoterinfo,
.btn-primary,
.campaigndetails .btn-group > .btn-default.active,
.btn-group > .btn-default.active:focus {
    border-color: #2F841B ;
}

.campaign-cards i.fa.fa-map-marker {
    color: #E41306;
}

/* Setting Background Colors */
div.btn-group > .btn.inactive:hover, .login-content, .footer, .newsfeed-content, .viewprofile-content {
    background-color: #fff;
}

.campaigndetails .btn-default {
    background-color: #E41306;
    color: #fff;
}

.navbar-app .btn-navbar:hover, .navbar-app .btn:hover {
    color: #fff;
}

.loader-gif {
    color: #E41306;
    top: 45%;
    position: relative;
/*    width: 14%;*/
}

.bolder p {
    color: #E41306 !important;
}

.loader-position {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1111;
}

.menu-submenu, .logout-button  {
    border-left: 4px solid #881204 !important;
}
.logout-button, .logout-button .fa-lock, .fa-angle-down {
    color: #E41306 !important;
}

.fullblog-tag {
    background-color: #E41306 ;
    color: #fff !important;
}
.fullblog-tag a{
     color: #fff !important;
}
a.list-group-item.active, a.list-group-item.active:focus {
    color: #fff!important;
    background-color: #881204  !important;
    background: url(../images/red-stripe.jpg) no-repeat left top !important;
    background-size: 100% 100% !important;
}

/*Facebook icon color set and font in login page*/
.fa-fb-color{
    color: #44619D;
}
.fa-font-21{
    font-size:21px;
}

/*JGive CSS*/
.jgive-filter button, input, select, textarea, .jgive-filter .btn-default, .form-control {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background: #FFFFFF;

    outline: none;
    cursor: pointer;
    border-radius: 0px;
    border-color: #A9A9A9;
}

.app-body {
    /*font-size: 13px;*/
    line-height: 1.3;
    display: block;
    height: 100%;
    padding: 0;
    overflow: hidden;
    font-family: "Open sans" !important;
    /*background-color: #F0F0F0 !important;*/
    text-shadow: none !important;
    /*background-color: #EFEFEF;*/
    /*background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 35px, rgba(255, 255, 255, 0.3) 35px, rgba(255, 255, 255, 0.3) 70px);*/
    /*background: linear-gradient(135deg, #fff 22px, #FDFDFD 22px, #FDFDFD 24px, transparent 24px, transparent 67px, #FDFDFD 67px, #FDFDFD 69px, transparent 69px), linear-gradient(225deg, #fff 22px, #FDFDFD 22px, #FDFDFD 24px, transparent 24px, transparent 67px, #FDFDFD 67px, #FDFDFD 69px, transparent 69px)0 64px;*/
    background-color: #fff !important;
    background-size: 64px 128px;
}

.sidebar-left {
    background: rgba(251, 251, 251, 0.07);
    -webkit-transition: width 400ms ease;
    transition: width 150ms ease;
}

.btn-default:hover {
    /*color: #fff;*/
    border-color: #adadad;
}

.btn.btn-navbar:active, .btn.btn-navbar:hover {
    background: transparent;
    color: #fff;
}
.navbar-absolute-top {
    top: 0;
    border-bottom-width: 1px;
    -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.41);
    height: auto;
    border-bottom-width: 0;
    color: #fff;
}
.navbar-app {
    color: #FFF;
}
.navbar-app .btn, .navbar-app .btn-navbar {
    color: #fff;
}

.thumbnail h3 {
    color: #2498cc;
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
}
/*Login Form */
.login-form {
    padding: 2px;
    background: none repeat scroll 0 0 #fff;
    margin-top: 0;
}
.login-form .form-group.row label.control-label.col-xs-3.col-sm-2.col-lg-1, .login-form input[bs-form-control], .login-form input[type="password"], .login-form input[type="url"] {
    margin-top: 12px;
    margin-bottom: 12px;
    /*color: #EF4E3A;*/
}
.login-form input[bs-form-control], .login-form input[type="password"], .login-form input[type="url"] {
    width: 100%;
    border: none;
    border-radius: 0;
    text-align: left;
    outline: none;
}

.login-form .form-group.row {
    padding: 0;
    background: #FFF;
}
.login-form label.control-label.col-xs-3.col-sm-2.col-lg-1 {
    padding-right: 0;
}

.login-form button {
    color: #FFF;
    padding: 1em;
    outline: none;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 0;
}
.trNo {
    font-size: 15px;
    font-weight: 600;
    color: #E41306;
}
.orBox{
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 8px;
}
.hrOr {
    border-top: 1px solid #DCE0E0;
    margin: -16px auto 10px;
    width: 90%;
}
.captiondashboard {
    text-align: justify;
    color: #B4B4B4;
    text-overflow: ellipsis;
}
html, body {
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
}
a.menuheader {
    background-color: #fff;
}

/* Spinner */
.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

/*Blog app CSS*/
.blog_title {
    font-size: 18px;
    color: #000;
    padding: 5px;
    display: block;
    background-color: #F4F4F4;
}
.bloganchor{
    font-family: 'Open Sans', sans-serif;
    color: #646464 !important;
    text-decoration: none !important;
    font-size: 13px !important;
    display: block;
    padding: 5px;
    text-align: justify;
}
legend {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 13px;
    font-size: 15px;
    line-height: inherit;
    color: #FFF;
    border: 0;
}
.btn-primary {
    color: #fff;
    border-radius: 0;
}

tags-input .tags {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: #fff !important;
    box-shadow: none !important;
    height: 100%;
}

tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Open Sans";
    height: 26px;
    line-height: 25px;
    background: -webkit-linear-gradient(top, #FACAC3  0, #FACAC3  47%, #FACAC3 100%);
    background: linear-gradient(to bottom, rgba(239, 78, 58, 0.32) 0, rgba(239, 78, 58, 0.29) 47%, rgba(239, 78, 58, 0.24) 100%) !important;
}

.candy {
    background-color: #FFFFFF !important;
    color: #000 !important;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.ngst-toggle p span:last-child {
    left: 50%;
    color: #000;
}
.menu-submenu {
    background-color: #EFEFEF;
    border-bottom: 1px solid #DBDBDB !important;
    color: #000 !important;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
}

.menu-title {
    box-shadow: 0px 4px 4px #D8D7D7;
    margin: 0px 0px 3px 0px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000 !important;
}
.ngst-toggle p span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 100px;
    text-align: center;
    color: #000;
}
 .switch {
   border: 1px solid #419928 ;
}
.switch .switch-handle {
   border: 1px solid #419928 ;
}
.switch.active {
   background-color: #419928 ;
   border: 1px solid #419928 ;
}
.switch.active .switch-handle {
   border-color: #419928 ;
}
 
